@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    font-family: "DM Sans", sans-serif;
}
main{
    margin: 0px 30px;
}

h2{
    text-align: center;
    color: #1E0E62;
    font-size: 42px;
    margin-top: 70px;
}

.img-text{
    display: flex;
    justify-content: space-between;
}

.p1{
    font-size: 22px;
    color: #1E0E62;
    line-height: 32px;
    font-weight: 500;
}
h3{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #1E0E62;
    margin-bottom: 30px;
}
.p2
{
    font-size: 16px;
    line-height: 30px;
    font-weight: 400px;
    color: #15143966;
    margin-bottom: 40px;
}
.phone{
    position: relative;
}
.imagepp{
    position: absolute;
    top: 261px;
}